name: s2u2m-resource-service-starter-package

on:
  push:
    branches: [main]
    paths:
      - "sb3-jdk17/s2u2m-resource-service-starter/**"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          sparse-checkout: |
            /sb3-jdk17/s2u2m-resource-service-starter/**
          sparse-checkout-cone-mode: false
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: maven
      - name: Configure Maven
        run: |
          mkdir -p ~/.m2
          echo "<settings>
            <servers>
              <server>
                <id>github</id>
                <username>${{ github.actor }}</username>
                <password>${{ secrets.GITHUB_TOKEN }}</password>
              </server>
            </servers>
          </settings>" > ~/.m2/settings.xml
      - name: Build with Maven
        run: mvn clean deploy -DskipTests
        working-directory: sb3-jdk17/s2u2m-resource-service-starter
